/server/node_modules
/latex/Thesis/*
!/latex/Thesis/Thesis.tex
!/latex/Thesis/Thesis.pdf
!/latex/Thesis/chapters
/latex/Thesis/chapters/*
!/latex/Thesis/chapters/*.tex
!/latex/Thesis/graphics
!/latex/Thesis/references.bib
/latex/Presentation/*
!/latex/Presentation/Presentation.tex
!/latex/Presentation/Presentation.pdf
!/latex/Presentation/graphics