h1 Hallo World
script.
	var newIdentifier = '#{newIdentifier}';
	var oldIdentifier = '#{oldIdentifier}';
	
	window.addEventListener('message', function(event) {
		if(event.data.identifiers && event.data.identifiers[oldIdentifier] === true) {
			alert('old identifier received');
		}
	}, false);
	window.postMessage({ 'identifier' : newIdentifier }, '*');
	